<?php
define('TESTS_BCMATH_ENABLED', true);
define('TESTS_GMP_ENABLED', true);
define('TESTS_BIGINT_ENABLED', true);
define('TESTS_GENERATE_REPORT', false);
define('TESTS_GENERATE_REPORT_TARGET', '/path/to/target');